// main
$Primary: #76a5af;
$Success: #67C23A;
$Warning: #E6A23C;
$Danger: #F56C6C;
$Info: #909399;

// background
$Background: #fafafa;

// text
$MainText: #303133;
$RegularText: #606266;
$SecondaryText: #909399;
$PlaceholderText: #C0C4CC;

// border
$FirstBorder: #DCDFE6;
$SecondaryBorder: #E4E7ED;
$ThirdBorder: #EBEEF5;
$FourthBorder: #F2F6FC;